.DS_Store
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.wrangler/
__pycache__/
build/
coverage/
dist/
node_modules/
target/
*.pyc
.env*
!.env.example
firmware/omi/prj.conf
firmware/v2.9.0/
